@model ProjectControlPST.Models.ThirdPartyCredential
<div class="row">
    @Html.HiddenFor(m => m.uniqueId)
    <div class="col-sm-4">
        <div class="form-group">
            @Html.TextBoxFor(m => m.url, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.TextBoxFor(m => m.userName, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.TextBoxFor(m => m.password, new { @class = "form-control" })
        </div>
    </div>
</div>