@model ProjectControlPST.Models.ThirdPartyCredential

<div>
    @Html.HiddenFor(m => m.uniqueId)
    @Html.TextBoxFor(m => m.url, new { @class = "form-control" })
    @Html.TextBoxFor(m => m.userName, new { @class = "form-control" })
    @Html.TextBoxFor(m => m.password, new { @class = "form-control" })
</div>