@model ProjectControlPST.Models.ThirdPartyCredential
<div class="row">
    @Html.HiddenFor(m => m.uniqueId)
    <div class="col-sm-6">
        <i class="fa fa-link"></i>
        @Html.DisplayFor(m => m.url, Model.url)
    </div>
    <div class="col-sm-3">
        <i class="fa fa-user"></i>
        @Html.DisplayFor(m => m.userName, Model.userName)
    </div>
    <div class="col-sm-3">
        <i class="fa fa-key"></i>
        @Html.DisplayFor(m => m.password, Model.password)
    </div>
</div>