@model ProjectControlPST.Models.ThirdPartyCredential

<div>
    @Html.HiddenFor(m => m.uniqueId)
    @Html.DisplayFor(m => m.url, Model.url)
    @Html.DisplayFor(m => m.userName, Model.userName)
    @Html.DisplayFor(m => m.password, Model.password)
</div>