@model ProjectControlPST.Models.User
@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@using (Html.BeginForm("LogIn", "Login", FormMethod.Post))
    {
    <div class="login-bg"></div>
    <div class="row animated fadeIn">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default login">
                <div class="panel-body">
                    <h4>Log In</h4>
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        @Html.TextBoxFor(m => m.userName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        @Html.PasswordFor(m => m.password, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Enter
                    </button>
                </div>
            </div>
        </div>
    </div>
}